# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Environment
.env

# IDEs and Editors
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/
.apt_generated/
.factorypath/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Help file from Spring Initializr (optional)
HELP.md